* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#pagewrapper {
    position: relative;
}

.nav-link {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    padding: 0.5rem;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgb(37, 37, 37);
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(197, 142, 248)
    
}

#header-img {
    text-align: left;
    float: left;
    width: 50px;
    height: 30px;

}

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.headerclass::after {
    content: '';
    height: 100vh; 
    width: 100%; 
    background-image: url(images/landing-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.headerclass:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.headerclass:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .title {
    font-size: 4rem;
    margin-top: 0.5rem;
}

.content .text {
    line-height: 1.7;
    margin-top: 1rem;
}

@media (max-width: 500px) {
    .content .title {
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    
    .content .text {
        line-height: 1;
        margin-top: 1rem;
        font-size: 0.7rem;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5%;
}

.column-about {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
}

.getintouch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}

input[type='email'] {
    max-width: 300px;
    width: 100%;
    padding: 7px;
    margin-bottom: 7px;
}

.btn {
    padding: 10px;
    height: 40px;
    font-size: 1em;
    font-weight: 800;
    text-transform: capitalize;
    border: 1px rgb(139, 101, 175) solid;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background-color: rgb(139, 101, 175);
}

.videodiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    padding: 2rem;
}

.center {
    text-align: center;
    margin: auto;
}


.light-bg {
    background: #f4f4f4;
    color: rgb(37, 37, 37);
}

.dark-bg {
    background: rgb(37, 37, 37);
    color: #f4f4f4;
}

.signup {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

#youtube-link {
    color: rgb(139, 101, 175);
}

.values-list {
  margin-left: 5%;
}

iframe { 
  border: none;
  width: 420px;
  height: 315px;
}